<div class="d-flex flex-column flex-root">
  <div class="page d-flex flex-row flex-column-fluid">
    <app-sidebar></app-sidebar>

    <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
      <app-topbar></app-topbar>

      <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <div class="toolbar" id="kt_toolbar">
          <app-dashboard></app-dashboard>
        </div>

        <div class="post d-flex flex-column-fluid" id="kt_post">
          <div id="kt_content_container" class="container-xxl">
            <div class="row gy-5 g-xl-8">
              <div class="col-12">
                <div class="card">
                  <div class="card-body">
                    <div
                      class="stepper stepper-links d-flex flex-column pt-15"
                      id="kt_create_account_stepper"
                      data-kt-stepper="true"
                    >
                      <div class="stepper-nav mb-5">
                        <div
                          (click)="setActive(1)"
                          class="stepper-item"
                          style="cursor: pointer"
                          [ngClass]="{ current: active == 1 }"
                        >
                          <h4 class="stepper-title">General</h4>
                        </div>
                        <div
                          (click)="setActive(2)"
                          class="stepper-item"
                          style="cursor: pointer"
                          [ngClass]="{ current: active == 2 }"
                        >
                          <h4 class="stepper-title">Galería</h4>
                        </div>
                      </div>

                      <div
                        [hidden]="active != 1"
                        class="mx-auto mw-700px w-100 pt-15 pb-10 fv-plugins-bootstrap5 fv-plugins-framework"
                      >
                        <div>
                          <div class="w-100">
                            <div class="pb-10 pb-lg-15">
                              <h2
                                class="d-flex align-items-center text-dark fw-700"
                              >
                                Nuevo producto
                              </h2>

                              <div class="text-muted fw-semibold fs-6">
                                Datos generales del nuevo producto.
                              </div>
                            </div>

                            <div class="row">
                              <div class="fv-row mb-10">
                                <label class="form-label required">
                                  Título
                                </label>
                                <input
                                  type="text"
                                  class="form-control form-control-solid mb-2"
                                  placeholder="Nombre del producto"
                                  name="titulo"
                                  [(ngModel)]="producto.titulo"
                                />
                                <div class="text-muted fs-7">
                                  Se requiere un nombre de producto y se
                                  recomienda que sea único.
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="fv-row mb-10">
                                <label class="form-label required">
                                  Descripción
                                </label>
                                <textarea
                                  class="form-control form-control-solid mb-2"
                                  name="descripcion"
                                  placeholder="Contenido descriptivo del producto"
                                  [(ngModel)]="producto.descripcion"
                                ></textarea>

                                <div class="text-muted fs-7">
                                  Lorem ipsum dolor sit amet, consectetur
                                  adipisicing.
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div
                        [hidden]="active != 2"
                        class="mx-auto mw-700px w-100 pt-15 pb-10 fv-plugins-bootstrap5 fv-plugins-framework"
                      >
                        <div>
                          <div class="w-100">
                            <div class="pb-10 pb-lg-15">
                              <h2
                                class="d-flex align-items-center text-dark fw-700"
                              >
                                Agregar imagenes
                              </h2>

                              <div class="text-muted fw-semibold fs-6">
                                Lorem ipsum dolor sit amet.
                              </div>
                            </div>

                            <div class="row">
                              <div class="col">
                                <div class="fv-row mb-5">
                                  <label class="form-label required">
                                    Imagen
                                  </label>
                                  <input
                                    type="file"
                                    class="form-control form-control-solid"
                                    id="FileInput"
                                    (change)="uploadImage($event)"
                                  />
                                  <div class="text-muted fs-7">
                                    Lorem ipsum dolor sit amet.
                                  </div>
                                </div>
                              </div>
                              <div class="col">
                                <div class="fv-row mb-5">
                                  <label class="form-label required">
                                    Título imagen
                                  </label>
                                  <input
                                    type="text"
                                    class="form-control form-control-solid"
                                    placeholder="Título imagen"
                                    name="imagen_titulo"
                                    [(ngModel)]="imagen_titulo"
                                  />
                                  <div class="text-muted fs-7">
                                    Lorem ipsum dolor sit amet.
                                  </div>
                                </div>
                              </div>
                              <div class="col-12 mb-5">
                                <small
                                  (click)="add_imagen()"
                                  class="text-primary cursor-pointer"
                                  >Agregar imagen</small
                                >
                              </div>
                              <div class="col-12">
                                <div class="table-responsive">
                                  <table
                                    class="table table-row-dashed align-middle gs-0 gy-3 my-0"
                                  >
                                    <tbody>
                                      <tr
                                        *ngFor="
                                          let item of galeria;
                                          let idx = index
                                        "
                                      >
                                        <td class="max-w-100px">
                                          <div
                                            class="d-flex align-items-center"
                                          >
                                            <a
                                              class="symbol symbol-50px"
                                              style="
                                                cursor: pointer;
                                                border: 1px dashed #ccc;
                                              "
                                            >
                                              <img [src]="item.str" alt="" />
                                            </a>
                                            <div
                                              class="d-flex justify-content-start flex-column ms-5"
                                            >
                                              <a
                                                class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6"
                                              >
                                                {{ item.titulo }}
                                              </a>
                                              <span
                                                class="text-gray-400 fw-semibold d-block fs-7"
                                                >Imagen</span
                                              >
                                            </div>
                                          </div>
                                        </td>
                                        <td class="text-end">
                                          <a
                                            style="cursor: pointer"
                                            class="btn btn-sm btn-icon btn-bg-danger w-30px h-30px"
                                            (click)="remove_imagen(idx)"
                                          >
                                            <span
                                              class="svg-icon svg-icon-5 svg-icon-white"
                                              ><svg
                                                width="24"
                                                height="24"
                                                viewBox="0 0 24 24"
                                                fill="none"
                                                xmlns="http://www.w3.org/2000/svg"
                                              >
                                                <path
                                                  opacity="0.3"
                                                  d="M6 19.7C5.7 19.7 5.5 19.6 5.3 19.4C4.9 19 4.9 18.4 5.3 18L18 5.3C18.4 4.9 19 4.9 19.4 5.3C19.8 5.7 19.8 6.29999 19.4 6.69999L6.7 19.4C6.5 19.6 6.3 19.7 6 19.7Z"
                                                  fill="currentColor"
                                                />
                                                <path
                                                  d="M18.8 19.7C18.5 19.7 18.3 19.6 18.1 19.4L5.40001 6.69999C5.00001 6.29999 5.00001 5.7 5.40001 5.3C5.80001 4.9 6.40001 4.9 6.80001 5.3L19.5 18C19.9 18.4 19.9 19 19.5 19.4C19.3 19.6 19 19.7 18.8 19.7Z"
                                                  fill="currentColor"
                                                />
                                              </svg>
                                            </span>
                                          </a>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div [hidden]="active != 1" class="text-center mt-10">
                        <button
                          *ngIf="!btn_load"
                          (click)="crear()"
                          type="button"
                          class="btn btn-dark"
                        >
                          <span class="svg-icon svg-icon-3 ms-1"
                            ><svg
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                opacity="0.3"
                                d="M10 18C9.7 18 9.5 17.9 9.3 17.7L2.3 10.7C1.9 10.3 1.9 9.7 2.3 9.3C2.7 8.9 3.29999 8.9 3.69999 9.3L10.7 16.3C11.1 16.7 11.1 17.3 10.7 17.7C10.5 17.9 10.3 18 10 18Z"
                                fill="currentColor"
                              />
                              <path
                                d="M10 18C9.7 18 9.5 17.9 9.3 17.7C8.9 17.3 8.9 16.7 9.3 16.3L20.3 5.3C20.7 4.9 21.3 4.9 21.7 5.3C22.1 5.7 22.1 6.30002 21.7 6.70002L10.7 17.7C10.5 17.9 10.3 18 10 18Z"
                                fill="currentColor"
                              />
                            </svg>
                          </span>
                          Crear
                        </button>
                        <button
                          *ngIf="btn_load"
                          class="btn btn-dark"
                          type="button"
                          disabled
                        >
                          <span
                            class="spinner-grow spinner-grow-sm"
                            role="status"
                            aria-hidden="true"
                          ></span>
                          Procensando...
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
