<div class="aside aside-dark ">

  <div class="aside-menu aside-dark flex-column-fluid">
    <div class="hover-scroll-overlay-y my-5 my-lg-5">
      <div
        class="menu menu-column menu-title-gray-800 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-500 mt-20">
        <div class="menu-item">
          <div class="menu-content pb-2 mb-10">
            <span class="menu-section text-muted text-uppercase fs-8 ls-1">Dashboard</span>
          </div>
        </div>
        <div class="menu-item">
        </div>
        <div class="menu-item">
          <a class="menu-link" [routerLink]="['/colaborador']" routerLinkActive="active">
            <span class="menu-icon">
              <span class="svg-icon svg-icon-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <rect x="2" y="2" width="9" height="9" rx="2" fill="black" />
                  <rect opacity="0.3" x="13" y="2" width="9" height="9" rx="2" fill="black" />
                  <rect opacity="0.3" x="13" y="13" width="9" height="9" rx="2" fill="black" />
                  <rect opacity="0.3" x="2" y="13" width="9" height="9" rx="2" fill="black" />
                </svg>
              </span>
            </span>
            <span class="menu-title">Usuarios Admin</span>
          </a>
        </div>

        <div class="menu-item">
          <a class="menu-link" [routerLink]="['/producto']" routerLinkActive="active">
            <span class="menu-icon">
              <span class="svg-icon svg-icon-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <rect x="2" y="2" width="9" height="9" rx="2" fill="black" />
                  <rect opacity="0.3" x="13" y="2" width="9" height="9" rx="2" fill="black" />
                  <rect opacity="0.3" x="13" y="13" width="9" height="9" rx="2" fill="black" />
                  <rect opacity="0.3" x="2" y="13" width="9" height="9" rx="2" fill="black" />
                </svg>
              </span>

            </span>
            <span class="menu-title">Productos</span>
          </a>
        </div>

        <div class="menu-item">
          <a class="menu-link" [routerLink]="['/clientes']" routerLinkActive="active">
            <span class="menu-icon">
              <span class="svg-icon svg-icon-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <rect x="2" y="2" width="9" height="9" rx="2" fill="black" />
                  <rect opacity="0.3" x="13" y="2" width="9" height="9" rx="2" fill="black" />
                  <rect opacity="0.3" x="13" y="13" width="9" height="9" rx="2" fill="black" />
                  <rect opacity="0.3" x="2" y="13" width="9" height="9" rx="2" fill="black" />
                </svg>
              </span>

            </span>
            <span class="menu-title">Clientes</span>
          </a>
        </div>

        <div class="menu-item">
          <a class="menu-link" [routerLink]="['/ordenes']" routerLinkActive="active">
            <span class="menu-icon">
              <span class="svg-icon svg-icon-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <rect x="2" y="2" width="9" height="9" rx="2" fill="black" />
                  <rect opacity="0.3" x="13" y="2" width="9" height="9" rx="2" fill="black" />
                  <rect opacity="0.3" x="13" y="13" width="9" height="9" rx="2" fill="black" />
                  <rect opacity="0.3" x="2" y="13" width="9" height="9" rx="2" fill="black" />
                </svg>
              </span>

            </span>
            <span class="menu-title">Órdenes</span>
          </a>
        </div>

      </div>
    </div>
  </div>

  <div class="aside-footer flex-column-auto pt-5 pb-7 px-5" id="kt_aside_footer">
    <a href="#" class="btn btn-custom btn-primary w-100">
      <span class="btn-label">Cerrar sesión</span>
    </a>
  </div>
  <!--end::Footer-->
</div>
